
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Цветочный Магазин</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"/>
    <link href="{% static 'katalog/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <header class="bg-dark text-white py-3">
      <div class="container d-flex justify-content-between align-items-center">
        <a href="">
          <img src="{% static 'katalog/img/logo.jpg' %}" alt="Логотип" class="logo" />
        </a>
        <nav>
          <a href="#about" class="text-white mx-3 text-decoration-none"
            >О нас</a
          >
          <a href="#products" class="text-white mx-3 text-decoration-none"
            >Каталог</a
          >
          <a href="#contact" class="text-white mx-3 text-decoration-none"
            >Контакты</a
          >
          <a href="{% url 'katalog:cart_detail'  %}" class="text-white mx-3 text-decoration-none"
            >Корзина</a
          >
        </nav>
      </div>
    </header>

    <section
      class="hero d-flex align-items-center justify-content-center text-center"
      style="min-height: 80vh"
    >
      <div>
        <h1>Добро пожаловать в PAVLIN</h1>
        <p class="lead">Самые свежие и красивые цветы для вас</p>
        <a href="#products" class="btn btn-primary btn-lg"
          >Посмотреть Каталог</a
        >
      </div>
    </section>

    <section id="about" class="py-5">
      <div class="container text-center">
        <h2 class="mb-4">О нас</h2>
        <p>
          Как команда флористов, мы посвящены созданию исключительных цветочных шедевров. Каждый цветок отбирается с особой тщательностью, гарантируя высочайшее качество и свежесть. Наша миссия - воплощать ваши цветочные мечты в ослепительную реальность, будь то для свадеб, мероприятий или личных подарков. Мы гордимся нашим первоклассным обслуживанием и индивидуальным подходом, обеспечивая незабываемые цветочные впечатления. Присоединяйтесь к нам и позвольте цветам украсить вашу жизнь.

        </p>
      </div>
    </section>

    <section id="products" class="py-5 bg-light">
      <div class="container">
          <h2 class="text-center mb-4">Наш Каталог</h2>
          <div class="row g-4">
              {% for product in products %}
              <div class="col-md-4">
                  <div class="card">
                      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                      <div class="card-body">
                          <h5 class="card-title">{{ product.name }}</h5>
                          <p class="card-text">{{ product.description }}</p>
                          <p class="card-text"><strong>{{ product.price }} руб.</strong></p>
                          <a href="{% url 'katalog:add_to_cart' product.id %}" class="btn btn-primary">В корзину</a>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </section>

    <section id="contact" class="py-5">
      <div class="container">
        <h2 class="text-center mb-4">Контакты</h2>
        <div class="row">
          <div class="col-md-6">
            <h5>Наш адрес</h5>
            <p>ул. Пушкинская, д. 12, г. Ростов-на-Дону</p>
          </div>
          <div class="col-md-6">
            <h5>Свяжитесь с нами</h5>
            <p>Телефон: +7 (123) 456-7890</p>
            <p>Email: info@flowerparadise.ru</p>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark text-white text-center py-3">
      <p class="mb-0">© 2025 PAVLIN. Все права защищены.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
